<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUEvent</title>
    <link rel="icon" type="image/x-icon" href="Resourse/TUEvent-Logo.png">
    <link rel="stylesheet" href="css/event-detail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
    <header></header>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="index.html">TU EVENT</a> </div>
            <ul>
                <li class="navbutton"><a href="index.html">หน้าหลัก</a></li>
                <li class="navbutton">
                    <a href="#">อีเว้นท์<i class="material-icons">keyboard_arrow_down</i></a>
                    <ul class="dropdown">
                        <a>ประเภทอีเว้นท์</a>
                        <div class="dropdown_item">
                            <li><a href="searchpage1.html?scroll=Content">ทั้งหมด</a></li>
                            <li><a href="#">ค่าย</a></li>
                            <li><a href="#">กิจกรรม</a></li>
                            <li><a href="#">ดนตรี</a></li>
                            <li><a href="#">เทคโนโลยี</a></li>
                            <li><a href="#">กีฬา</a></li>
                            <li><a href="#">แข่งขัน</a></li>
                            <li><a href="#">เวิร์คชอป</a></li>
                            <li><a href="#">ศิลปะ</a></li>
                            <li><a href="#">วิชาการ</a></li>
                            <li><a href="#">การเงิน</a></li>
                            <li><a href="#">ธุรกิจ</a></li>
                        </div>
                    </ul>
                </li>
                <li class="navbutton">
                    <a href="#">สำหรับผู้จัด<i class="material-icons">keyboard_arrow_down</i></a>
                    <ul class="dropdown">
                        <a>สำหรับผู้จัด</a>
                        <div class="dropdown_item">
                            <li><a href="#">ยังไม่ต้องทำ</a></li>
                        </div>
                    </ul>
                </li>
            </ul>
            <button><a href="#">เข้าสู่ระบบ/สมัครสมาชิก</a></button>
        </div>
    </nav>
    <section>
        <div class="container1">
            <div class="poster">
                <img src="Resourse/Poster/Screenshot 2025-10-03 230911.png" alt="IMGPoster">
            </div>
            <button class="button_reg">
                <a href="#">ลงทะเบียน</a>
            </button>
        </div>
        <div class="container2">
            <div class="detail">
                <h1>ชื่ออีเว้นท์</h1>
                <div class="catagories">
                    <a href="#">หมวดหมู่</a>
                </div>
                <p><i class="material-icons">calendar_month</i>ศุกร์ 03 ต.ค. - 10 ต.ค. 2568</p>
                <p><i class="material-icons">schedule</i>09:30 - 16:30</p>
                <div class="box_members">
                    <h2>จำนวนผู้ลงทะเบียน</h2>
                    <div class="box_members_num">
                        <p><i class="material-icons">person</i>100000000</p>
                    </div>
                </div>
                <div class="box_organizes">
                    <h1>ผู้จัด</h1>
                    <p>แกงค์โหงวจุ๊ย คอนเซ็ปต์เชอร์รี่สะกอมบาร์บีคิวอาร์ติสต์</p>
                </div>
                <div class="box_details">
                    <h1>รายละเอียด</h1>
                    <p>
                        คาราโอเกะสเปคสเตชั่นมอคคาคันธาระ ทัวร์พาวเวอร์ฟอยล์ ชินบัญชร
                        คลิปโทรโข่งอุปการคุณไคลแม็กซ์ แคมเปญบอร์ด ทัวริสต์ ศึกษาศาสตร์
                        จตุคามโปรเจ็คท์เซรามิกโอเลี้ยง เรตปิโตรเคมีรัมดราม่าหมายปอง แพลน
                        นาฏยศาลาสป็อตสแล็ก โบว์ลิ่งรีไทร์ซังเตแจ๊ส เป่ายิ้งฉุบยิม
                        พุทธศตวรรษแฟรีบ๊วย สตาร์ทสแตนดาร์ดนรีแพทย์
                        อีโรติกไอติมปาสกาลเอสเพรสโซแจ็กพ็อต
                        แช่แข็งโปรเจ็คเห็นด้วยเฟอร์รี่ โบ้ยซิตี คอนโทรลวอลนัตบรา
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <img class="Footer-img" src="Resourse/Footer.png" alt="Footer"> 
        <img class="Footer-tape" src="Resourse/png/Footer-tape.png" alt="Footertape">
    </footer>
</body>

</html>